{% extends "fileserver/base.html" %} 

{% block content %}

<legend class="border-bottom mb-4">Meus arquivos</legend>

<p>
    <a href="{% url 'upload_file' %}" class="btn btn-primary">Fazer upload de arquivo</a>
</p>

{% if number_of_files > 0 %}

    <!-- Caso o usuário tenha algum arquivo armazenado, cria uma tabela para exibição desses arquivos -->
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Tamanho</th>
                <th>Download</th>            
            </tr>
        </thead>
        <tbody>
            {% for file in files %}
                <tr>
                    <td>{{ file.name }}</td>
                    <td>{{ file.size }} Bytes</td>
                    <td>
                        <a href="{{ file.location.url }}" class="btn btn-primary btn-sm">Baixar arquivo</a>
                    </td>                
                    <td>
                        <form method="POST" action="{% url 'delete_file' file.pk %}">
                          {% csrf_token %}
                          <button type="submit" class="btn btn-danger btn-sm" onClick="return confirm('Confirma a remoção do arquivo?')">Remover arquivo</button>
                        </form>                    
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}    
    <h6>Você ainda não enviou nenhum arquivo</h6>
{% endif %}

{% endblock content %} 
